.container {
  width: 80%;
  margin: 2% auto;
  display: flex;
  flex-direction: column;
}

.search {
  grid-area: search;
  margin: 0 auto 2vh;
}

.results {
  grid-area: result;
}

.results__output {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 0;
}

.results__output div {
  width: auto;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 2px;
  margin: 2px 1vw;
}

.white {
  border: 3px solid #fbf2e4;
}

.blue {
  border: 3px solid #72afe5;
}

.black {
  border: 3px solid black;
}

.red {
  border: 3px solid #e25f33;
}

.green {
  border: 3px solid #a3c095;
}

.multicolor {
  border: 3px solid #e2d670;
}

.colorless {
  border: 3px solid #9ab6b6;
}

.cardArt {
  width: 100%;
  margin: 1px auto;
}

.card__info {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.6);
}

.card__name {
  text-align: center;
  font-size: 1em;
  margin-bottom: 2px;
}

.card__artist {
  text-align: center;
  font-size: 0.75em;
  color: rgba(0, 0, 0, 0.6);
  margin-top: 2px;
}

@media (max-width: 1024px) {
  .results__output {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 640px) {
  .results__output {
    grid-template-columns: 1fr;
  }
}
